<template>
  <div class="row">
    <app-quote
      v-for="(quote,index) in quotes"
      @click.native="deleteQuote(index)"
      v-bind:key="index"
    >{{quote}}</app-quote>
  </div>
</template>
<script>
import Quote from "./Quote.vue";
export default {
  props: ["quotes"],
  components: {
    appQuote: Quote
  },
  methods: {
    deleteQuote(index) {
      console.log(index);
      this.$emit("quoteDeleted", index);
    }
  }
};
</script>
<style lang="scss" scoped>
</style>